<template>
  <div class="devtest">
    <p v-if="downloading">Downloading from GitHub...</p>
    <p><strong>Repositories grabbed:</strong> {{ repositoriesCount }}</p>
    <p><strong>Issues grabbed:</strong> {{ issuesCount }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      GitHub: {
        newIssue: {},
        newIssueFromCallback: {}
      }
    }
  },
  mounted: function () {
    this.GitHubAPI.registerStore(this.$store)
    this.GitHubAPI.get('/user/repos', { per_page: 100 }, [this.GitHub, 'repos'])
    this.GitHubAPI.get('issues', { per_page: 100 }, (response) => {
      this.$set(this.GitHub, 'issues', response.body)
    })
  },
  computed: {
    repositoriesCount: function () {
      if (this.GitHub.repos) {
        return this.GitHub.repos.length
      }
      return 'none yet...'
    },
    issuesCount: function () {
      if (this.GitHub.issues) {
        return this.GitHub.issues.length
      }
      return 'none yet...'
    },
    downloading: function () {
      if (typeof this.$store.state.GitHubAPI !== 'undefined') {
        return this.$store.state.GitHubAPI.downloading
      } else {
        return false
      }
    }
  }
}
</script>